/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  text-align: center;
}

h1, h2, h3, h4, h5 {
	font-family: 'Pacifico', cursive;
}

p {
	font-family: tahoma;
}

.register-callout {
  position: relative;
}

.register-callout h5 {
  position: absolute;
  left: 10%;
  color: white;
  width: 80%;
}

.register-callout img {
  width: 100%;
}

.register-form {
  position: relative;
  top: 25px;
}

.register-form a {
  width: 70%;
}

.register-form i {
  font-size: 150px;
  color: #b3e5fc;
}

.register-form h5 {
  width: 80%;
  padding-bottom: 25px;
  text-align: center;
  margin: 0 auto;
}
.fullSize {
  width: 100%;
}